<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yp.pay.wx.mapper.ProfitShareRecordMapper">

    <resultMap id="BaseResultMap" type="com.yp.pay.entity.entity.ProfitShareRecordDO">
        <id column="sys_no" property="sysNo" jdbcType="BIGINT"/>
        <result column="order_no" property="orderNo" jdbcType="VARCHAR"/>
        <result column="plat_order_no" property="platOrderNo" jdbcType="VARCHAR"/>
        <result column="channel_order_no" property="channelOrderNo" jdbcType="VARCHAR"/>
        <result column="profit_share_no" property="profitShareNo" jdbcType="VARCHAR"/>
        <result column="plat_profit_share_no" property="platProfitShareNo" jdbcType="VARCHAR"/>
        <result column="channel_profit_share_no" property="channelProfitShareNo" jdbcType="VARCHAR"/>
        <result column="merchant_no" property="merchantNo" jdbcType="VARCHAR"/>
        <result column="merchant_name" property="merchantName" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="receiver_info" property="receiverInfo" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="err_code" property="errCode" jdbcType="VARCHAR"/>
        <result column="err_code_des" property="errCodeDes" jdbcType="VARCHAR"/>
        <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP"/>
        <result column="pay_success_time" property="paySuccessTime" jdbcType="TIMESTAMP"/>
        <result column="refund_status" property="refundStatus" jdbcType="TINYINT"/>
        <result column="mer_cost" property="merCost" jdbcType="INTEGER"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="modify_user" property="modifyUser" jdbcType="VARCHAR"/>
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        sys_no, order_no, plat_order_no, channel_order_no, profit_share_no, plat_profit_share_no, channel_profit_share_no,
        merchant_no, merchant_name, version, receiver_info, status, err_code, err_code_des, apply_time, pay_success_time,
        refund_status, mer_cost, create_user, create_date, modify_user, modify_date
    </sql>

    <update id="updateRecodeByInput" parameterType="com.yp.pay.entity.entity.ProfitShareRecordDO">
        update profit_share_record
        <set>
            version = version + 1,
            <if test="channelProfitShareNo != null and channelProfitShareNo != ''">
                channel_profit_share_no = #{channelProfitShareNo,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="errCode != null and errCode != ''">
                err_code = #{errCode,jdbcType=VARCHAR},
            </if>
            <if test="errCodeDes != null and errCodeDes != ''">
                err_code_des = #{errCodeDes,jdbcType=VARCHAR},
            </if>
            <if test="paySuccessTime != null">
                pay_success_time = #{paySuccessTime,jdbcType=TIMESTAMP},
            </if>
            <if test="refundStatus != null">
                refund_status = #{refundStatus,jdbcType=TINYINT},
            </if>
            <if test="merCost != null">
                mer_cost = #{merCost,jdbcType=INTEGER},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUser != null">
                modify_user = #{modifyUser,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            <if test="sysNo != null">
                and sys_no = #{sysNo,jdbcType=BIGINT}
            </if>
            <if test="merchantNo != null and merchantNo != ''">
                and merchant_no = #{merchantNo,jdbcType=VARCHAR}
            </if>
            <if test="profitShareNo != null and profitShareNo !='' ">
                and profit_share_no = #{profitShareNo,jdbcType=VARCHAR}
            </if>
            <if test="platProfitShareNo != null and platProfitShareNo != '' ">
                and plat_profit_share_no = #{platProfitShareNo,jdbcType=VARCHAR}
            </if>
            <if test="merchantNo != null and merchantNo !='' ">
                and merchant_no = #{merchantNo,jdbcType=VARCHAR}
            </if>
            <if test="version != null">
                and version = #{version,jdbcType=TINYINT}
            </if>
        </where>
    </update>

    <select id="selectRecodeByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from profit_share_record
        <where>
            <if test="sysNo != null">
                and sys_no = #{sysNo,jdbcType=BIGINT}
            </if>
            <if test="merchantNo != null and merchantNo != ''">
                and merchant_no = #{merchantNo,jdbcType=VARCHAR}
            </if>
            <if test="orderNo != null and orderNo != ''">
                and order_no = #{orderNo,jdbcType=VARCHAR}
            </if>
            <if test="platOrderNo != null and platOrderNo != ''">
                and plat_order_no = #{platOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="channelOrderNo != null and channelOrderNo != ''">
                and channel_order_no = #{channelOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="profitShareNo != null and profitShareNo !='' ">
                and profit_share_no = #{profitShareNo,jdbcType=VARCHAR}
            </if>
            <if test="platProfitShareNo != null and platProfitShareNo != '' ">
                and plat_profit_share_no = #{platProfitShareNo,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=TINYINT}
            </if>
        </where>
    </select>

    <select id="selectRecodeByOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from profit_share_record
        <where>
            <if test="orderNo != null and orderNo != ''">
                and order_no = #{orderNo,jdbcType=VARCHAR}
            </if>
            <if test="merchantNo != null and merchantNo != ''">
                and merchant_no = #{merchantNo,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectRecodeByPlatOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from profit_share_record
        <where>
            <if test="platOrderNo != null and platOrderNo != ''">
                and plat_order_no = #{platOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="merchantNo != null and merchantNo != ''">
                and merchant_no = #{merchantNo,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectRecodeByChannelOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from profit_share_record
        <where>
            <if test="channelOrderNo != null and channelOrderNo != ''">
                and channel_order_no = #{channelOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="merchantNo != null and merchantNo != ''">
                and merchant_no = #{merchantNo,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectRecodeByProfitShareNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from profit_share_record
        <where>
            <if test="profitShareNo != null and profitShareNo != ''">
                and profit_share_no = #{profitShareNo,jdbcType=VARCHAR}
            </if>
            <if test="merchantNo != null and merchantNo != ''">
                and merchant_no = #{merchantNo,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectRecodeByPlatProfitShareNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from profit_share_record
        <where>
            <if test="platProfitShareNo != null and platProfitShareNo != ''">
                and plat_profit_share_no = #{platProfitShareNo,jdbcType=VARCHAR}
            </if>
            <if test="merchantNo != null and merchantNo != ''">
                and merchant_no = #{merchantNo,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectRecodeByEntity" resultMap="BaseResultMap"
            parameterType="com.yp.pay.entity.entity.ProfitShareRecordDO">
        select
        <include refid="Base_Column_List"/>
        from profit_share_record
        <where>
            <if test="sysNo != null">
                and sys_no = #{sysNo,jdbcType=BIGINT}
            </if>
            <if test="merchantNo != null and merchantNo != ''">
                and merchant_no = #{merchantNo,jdbcType=VARCHAR}
            </if>
            <if test="profitShareNo != null and profitShareNo !='' ">
                and profit_share_no = #{profitShareNo,jdbcType=VARCHAR}
            </if>
            <if test="platProfitShareNo != null and platProfitShareNo != '' ">
                and plat_profit_share_no = #{platProfitShareNo,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=TINYINT}
            </if>
        </where>
    </select>

    <select id="selectRecodeListByEntity" resultMap="BaseResultMap"
            parameterType="com.yp.pay.entity.entity.ProfitShareRecordDO">
        select
        <include refid="Base_Column_List"/>
        from profit_share_record
        <where>
            <if test="sysNo != null">
                and sys_no = #{sysNo,jdbcType=BIGINT}
            </if>
            <if test="merchantNo != null and merchantNo != ''">
                and merchant_no = #{merchantNo,jdbcType=VARCHAR}
            </if>
            <if test="orderNo != null and orderNo != ''">
                and order_no = #{orderNo,jdbcType=VARCHAR}
            </if>
            <if test="platOrderNo != null and platOrderNo != ''">
                and plat_order_no = #{platOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="channelOrderNo != null and channelOrderNo != ''">
                and channel_order_no = #{channelOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=TINYINT}
            </if>
        </where>
    </select>
</mapper>