<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yp.pay.wx.mapper.TradePaymentRecordMapper">

    <resultMap id="BaseResultMap" type="com.yp.pay.entity.entity.TradePaymentRecordDO">
        <id column="sys_no" property="sysNo" jdbcType="BIGINT"/>
        <result column="merchant_no" property="merchantNo" jdbcType="VARCHAR"/>
        <result column="merchant_name" property="merchantName" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
        <result column="merchant_order_no" property="merchantOrderNo" jdbcType="VARCHAR"/>
        <result column="plat_order_no" property="platOrderNo" jdbcType="VARCHAR"/>
        <result column="channel_order_no" property="channelOrderNo" jdbcType="VARCHAR"/>
        <result column="order_ip" property="orderIp" jdbcType="VARCHAR"/>
        <result column="order_referer_url" property="orderRefererUrl" jdbcType="VARCHAR"/>
        <result column="order_amount" property="orderAmount" jdbcType="INTEGER"/>
        <result column="pay_way_code" property="payWayCode" jdbcType="VARCHAR"/>
        <result column="profit_share_sign" property="profitShareSign" jdbcType="INTEGER"/>
        <result column="profit_share_status" property="profitShareStatus" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="err_code" property="errCode" jdbcType="VARCHAR"/>
        <result column="err_code_des" property="errCodeDes" jdbcType="VARCHAR"/>
        <result column="pay_success_time" property="paySuccessTime" jdbcType="TIMESTAMP"/>
        <result column="refund_status" property="refundStatus" jdbcType="INTEGER"/>
        <result column="refund_times" property="refundTimes" jdbcType="INTEGER"/>
        <result column="pay_type_code" property="payTypeCode" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="mer_cost" property="merCost" jdbcType="INTEGER"/>
        <result column="trade_detail" property="tradeDetail" jdbcType="VARCHAR"/>
        <result column="trade_attach" property="tradeAttach" jdbcType="VARCHAR"/>
        <result column="qr_code_status" property="qrCodeStatus" jdbcType="INTEGER"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="modify_user" property="modifyUser" jdbcType="VARCHAR"/>
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        sys_no, merchant_no, merchant_name, version, product_name, merchant_order_no, plat_order_no, channel_order_no,
        order_ip, order_referer_url, order_amount, profit_share_sign, profit_share_status, pay_way_code, status,
        err_code, err_code_des, pay_success_time, refund_status, refund_times, pay_type_code, remark, mer_cost,
        create_user, create_date, modify_user, modify_date, trade_detail, trade_attach, qr_code_status
    </sql>

    <update id="updateRecodeByInput" parameterType="com.yp.pay.entity.entity.TradePaymentRecordDO">
        update trade_payment_record
        <set>
            <if test="profitShareStatus != null">
                profit_share_status = #{profitShareStatus,jdbcType=TINYINT},
            </if>
            <if test="errCode != null and errCode != ''">
                err_code = #{errCode,jdbcType=VARCHAR},
            </if>
            <if test="errCodeDes != null and errCodeDes != ''">
                err_code_des = #{errCodeDes,jdbcType=VARCHAR},
            </if>
            <if test="paySuccessTime != null">
                pay_success_time = #{paySuccessTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="channelOrderNo != null and channelOrderNo != ''">
                channel_order_no = #{channelOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="payTypeCode != null and payTypeCode != ''">
                pay_type_code = #{payTypeCode,jdbcType=VARCHAR},
            </if>
            <if test="refundStatus != null">
                refund_status = #{refundStatus,jdbcType=TINYINT},
            </if>
            <if test="refundTimes != null">
                refund_times = #{refundTimes,jdbcType=TINYINT},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUser != null">
                modify_user = #{modifyUser,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="tradeDetail != null and tradeDetail != ''">
                trade_detail = #{tradeDetail,jdbcType=VARCHAR},
            </if>
            <if test="tradeAttach != null and tradeAttach != ''">
                trade_attach = #{tradeAttach,jdbcType=VARCHAR},
            </if>
            <if test="qrCodeStatus != null">
                qr_code_status = #{qrCodeStatus,jdbcType=TINYINT},
            </if>
        </set>
        <where>
            <if test="sysNo != null">
                sys_no = #{sysNo,jdbcType=BIGINT}
            </if>
            <if test="merchantOrderNo != null and merchantOrderNo !='' ">
                and merchant_order_no = #{merchantOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="platOrderNo != null and platOrderNo != '' ">
                and plat_order_no = #{platOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="merchantNo != null and merchantNo !='' ">
                and merchant_no = #{merchantNo,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

    <select id="selectRecodeByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from trade_payment_record
        <where>
            <if test="sysNo != null">
                and sys_no = #{sysNo,jdbcType=BIGINT}
            </if>
            <if test="merchantOrderNo != null and merchantOrderNo != ''">
                and merchant_order_no = #{merchantOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="platOrderNo != null and platOrderNo != ''">
                and plat_order_no = #{platOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="channelOrderNo != null and channelOrderNo != ''">
                channel_order_no = #{channelOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=TINYINT}
            </if>
        </where>
    </select>

    <select id="selectRecodeByMerchantOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from trade_payment_record
        <where>
            <if test="merchantOrderNo != null and merchantOrderNo != ''">
                and merchant_order_no = #{merchantOrderNo,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectRecodeByPlatOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from trade_payment_record
        <where>
            <if test="platOrderNo != null and platOrderNo != ''">
                plat_order_no = #{platOrderNo,jdbcType=VARCHAR},
            </if>
        </where>
    </select>

    <select id="selectRecodeByChannelOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from trade_payment_record
        <where>
            <if test="channelOrderNo != null and channelOrderNo != ''">
                channel_order_no = #{channelOrderNo,jdbcType=VARCHAR},
            </if>
        </where>
    </select>
</mapper>